
body{
	background-color: #263749;
	background-image:url("imgs/");/* background-repeat:repeat, repeat;*/
}

h1{
	font-size: 150px;
	color: antiquewhite;
	font-family: sans-serif;
	line-height: 75px;
	letter-spacing: -15px;
	margin-right: 500px;
	margin-left: 50px;
}

h2{
	font-family: "solvent", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: indianred;
	font-size: 250px;
	margin-right: 350px;
}

body{
	display: flex;
	justify-content: center;
}

.box_item{
	margin-top: 130px;
	margin-left: 20px;
	margin-right: 20px;
	width: 300px;
	height: 300px;
	background-color: antiquewhite;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	font-family: sans-serif;
	color: indianred;
	line-height: 30px;

}
.box_item:hover{
	font-size: 0;
	background-image: url("imgs/IMG_2817.jpg");
	background-size: cover;
}

.box_item1{
	margin-top: 130px;
	margin-left: 20px;
	margin-right: 20px;
	width: 300px;
	height: 300px;
	background-color: antiquewhite;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	font-family: sans-serif;
	color: indianred;
	line-height: 30px;

}
.box_item1:hover{
	font-size: 0;
	background-image: url("imgs/IMG_3128.jpg");
	background-size: cover;
}

.box_item2{
	margin-top: 130px;
	margin-left: 20px;
	margin-right: 20px;
	width: 300px;
	height: 300px;
	background-color: antiquewhite;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	font-family: sans-serif;
	color: indianred;
	line-height: 30px;

}
.box_item2:hover{
	font-size: 0;
	background-image: url("imgs/IMG_5297.jpg");
	background-size: cover;
}

.box_item3{
	margin-top: 130px;
	margin-left: 20px;
	margin-right: 20px;
	width: 300px;
	height: 300px;
	background-color: antiquewhite;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	font-family: sans-serif;
	color: indianred;
	line-height: 30px;

}
.box_item3:hover{
	font-size: 0;
	background-image: url("imgs/sunday.gif");
	background-size: cover;
}

.title{
	font-size:50px}