body{
	background-color: white;
	margin-bottom: 70px;
}
.title:after{
	content: 'THIS WEEK IN UNIT 25E';
	font-family: Arial;
	font-size: 30px;
	font-weight: bold;
	color: white;
	background-color: indianred;
	outline: white solid 10px;
	width: 400px;
	padding: 14px;
	text-align: center;
	border-radius: 100px;
	position: fixed;
	z-index: 5;
}

.title:hover:after{
	content: '09.10.23 - 16.10.23';
	color: indianred;
	font-size: 35px;
	background-color: white;
	border-radius: 100px;
}

.img1{
	max-width: 100%;
	text-align: center;
	height: auto; 
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  z-index:1
}

.scroll {
  text-align: center;
  height: 8%;
  padding: 50px;
  margin: 40px auto; 
  width: 440px;
  white-space: nowrap;
  z-index: 2;
	position: relative;
	top: -410px;
	color: transparent;
	font-size: 15px;
	line-height: 13px;
}
.scroll:hover{
	color: white;
	font-size: 15px;
}

h2{
	font-family: Arial;
	font-size: 40px;
	font-weight: bold;
	color: white;
	background-color: steelblue;
	font-stretch: condensed;
	letter-spacing: 0px;
	padding-top: 7px;
	text-align: center;
	position: fixed;
	margin-top: 0px;
	margin-left: 80px;
	outline: white solid 10px;
	z-index: 4;
}

.text1 {
  position: relative;
  margin-top: -300px;
  height: 500px auto;
  font-family: arial;
	font-size: 16px;
	color: steelblue;
	text-align: left;
	margin: -50px;
}

.text1:hover::after {
  content: "my cousin texted me and was like hey can i stay over at your place tonight? and i was confused like are you in the city and for what and she said she was doing some visa things for her December plans and it took longer than she thought because she had to go around and print the documents out at FedEx and all these things and she got off her bus at grand central, and theres a FedEx on that block but while she was there she ws already running out of time so she went to the embassy with like half of her documents and then they didnt let her in because she was carrying a duffel bag so she put everything in her duffel into her backpack and then she was let in but she was late and when she got in she was told she went to the wrong building so she had to go around to the other side of the block to go to the other entrace to the other building and then she got her interview done but it was already past when the bus left and this was on a thursday and there are no more buses leaving that day so she had to stay here for a night so i said sure. and so i met up with her when she was done and we went around and got food and fixed the broken wifi in my apt and while we were at dinner she got an email saying that mail is being sent from the embassy to her address and then it became a thing of what is being sent, theres no way its the passport because if it is that means her application got rejected and that would suck ass because that means shed have to go all the way here again to get it done again and would have to pay for everything again but then we met up with her friend for drinks and she went home the day after.";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 75px;
  margin-right: 130px;
  line-height: 15px;
  font-family: arial;
  color: white;
}
.text2 {
  position: relative;
  margin-top: -300px;
  height: 500px auto;
  font-family: arial;
	font-size: 16px;
	color: steelblue;
	text-align: left;
	margin: -50px;
}

.text2:hover::after {
  content: ;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 75px;
  margin-right: 130px;
  line-height: 15px;
  font-family: arial;
  color: white;
}
.text3 {
  position: relative;
  margin-top: -300px;
  height: 500px auto;
  font-family: arial;
	font-size: 16px;
	color: steelblue;
	text-align: left;
	margin: -50px;
}

.text3:hover::after {
  content: ;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 75px;
  margin-right: 130px;
  line-height: 15px;
  font-family: arial;
  color: white;
}

.container1 {
 display: grid;
 align-items: center; 
 grid-template-columns: 0.7fr 0.7fr 0.7fr;
 margin: 50px;
 margin-left: 180px;
 margin-top: -400px;
}
