body {
	background-color: whitesmoke;
}
h1 {
	font-size: 30px;
	font-family: monospace;
	color: indianred;
	margin-top: 50px;
}
h3 {
	font-size: 15px;
	font-family: arial;
	color: indianred;
	margin-top: 50px;
}
p {
	font-size: 15px;
	padding: 50px;
	background-color: indianred;
	color: whitesmoke;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	width: 700px;
}

.home{
	text-align: center;
	margin-top: 50px;
}